.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  border-top: solid 1px #213547;
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}
.nav__list--item {
  list-style: none;
  padding: 0.5rem;
  color: #213547;
}

@media only screen and (min-width: 768px) {
  .nav {
    position: static;
    max-width: 20vw;
    border-top: none;
    border-right: solid 1px #213547;
    margin-right: 1rem;
  }
  .nav__list {
    flex-direction: column;
  }
}
